* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('../images/fantasy-battle-bg.png') no-repeat;
  background-position: center;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#modal-box {
	background: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	overflow: auto;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	padding: 2%;
	line-height: 120%;
}

#modal-start {
  display: block;
  height: 50px;
  width: 300px;
  font-family: sans-serif;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  border: 3px solid rgb(153, 29, 29);
  color: rgba(0,0,0,.25);
}

#start-btn {
  display: block;
  background-color: rgb(153, 29, 29);
  color: white;
  border: 1px solid rgb(78, 9, 9);
  padding: 10px;
  margin: 5px auto;
}

#start-btn:hover {
  border: 1px solid white;
  cursor: pointer;
}
header {
  display: flex;
  background: rgb(187, 166, 75);
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: white;
  font-family: fantasy;
  font-size: 45px;
}

main {
  display: flex;
  position: relative;
  width: 100%;
  height: 80%;

  justify-content: space-evenly;
  align-items: center;

}

#announce-section {
  position: absolute;
  display: block;
    width: 80%;
    height: 10%;
    clear: both;

}

.player-container, .comp-container {
  display: block;
  width: 45%;
  height: 90%;
  /* border: solid 2px white; */
}

.player-status, .comp-status {
  /* border: 1px solid green; */
  width: 80%;
  height: 10%;
  margin: 10% auto;
  font-size: 30px;
  color: rgb(0, 156, 6);
  font-weight: bold;
}

.player-status {
  text-align: left;
}

.comp-status {
  text-align: right;
}

.comp-status {
  font-size: 30px;
  color: rgb(0, 156, 6);
  font-weight: bold;
}
.player-image, .comp-image {
  display: block;
  background-position: center;
  width: 100%;
  height: 50%;
  margin: 0 auto;

}

#knight-player {
  background: url('../images/Knight-player.png') no-repeat;
  background-position: center;
}

#knight-comp {
  background: url('../images/Knight-comp.png') no-repeat;
  background-position: center;
}

#archer-player {
  background: url('../images/Archer-player.png') no-repeat;
  background-position: center;
}

#archer-comp {
  background: url('../images/Archer-comp.png') no-repeat;
  background-position: center;
}

#warrior-player {
  background: url('../images/Warrior-player.png') no-repeat;
  background-position: center;
}

#warrior-comp {
  background: url('../images/Warrior-comp.png') no-repeat;
  background-position: center;
}

#amazon-player {
  background: url('../images/Amazon-player.png') no-repeat;
  background-position: center;
}

#amazon-comp {
  background: url('../images/Amazon-comp.png') no-repeat;
  background-position: center;
}

#darkknight-player {
  background: url('../images/DarkKnight-player.png') no-repeat;
  background-position: center;
}

#darkknight-comp{
  background: url('../images/DarkKnight-comp.png') no-repeat;
  background-position: center;
}

.player-actions, .comp-actions {

  justify-content: center;
  width: 60%;
  height: 10%;
  margin: 10% auto;
  display: none;


}
.btn {
  display: inline-block;
  background: rgb(187, 166, 75);
  background-size: cover;
  border: 3px solid rgba(238, 211, 116, 0.9);
  width: 30%;
  height: 100%;
  margin: 0 auto;
  border-radius: 12px;
  object-fit: contain;


  /* opacity: 0.8; */

}

.btn:hover {
  border: 4px solid gold;
  cursor: pointer;
}

#player-action-1 {
  background: rgb(187, 166, 75) url('../images/Knight-sword.png') no-repeat;
  background-position: center;


}

#player-action-2 {
  background: rgb(187, 166, 75) url('../images/Knight-shield.png') no-repeat;
  background-position: center;

}

#player-action-3 {
  background: rgb(187, 166, 75) url('../images/run.png') no-repeat;
  background-position: center;
}

.damage {
  font-family: sans-serif;
  color: red;
  font-size: 55px;
  text-align: center;
}

.missed {
  font-family: sans-serif;
  color: white;
  font-size: 55px;
  text-align: center;
}

.defend {
  font-family: sans-serif;
  color: rgb(0, 156, 6);
  font-size: 55px;
  text-align: center;
}

.ineffective {
    font-family: sans-serif;
    color: white;
    font-size: 55px;
    text-align: center;
  }


.next-round {
  width: 100px;
  height: 40px;
  background-color: green;
}

.init {
  text-align: center;
  font-size: 75px;
  color: white;
  font-family: sans-serif;
}
